.container {
    width: 60%;
}

table, th, td {
    border: 1px solid black;
    text-align: center
}

#sample_data {
    text-align: center;
}

mark {
    background-color: rgb(255, 153, 0);
    color: black;
}

/* Converter CSS */
.converter {
    border: 5px solid gray;
    padding: 20px;
    margin: 10px;
    text-align: center;
}
