.container {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    text-align: center
}

#sample_data {
    text-align: center;
}

mark {
    background-color: rgb(255, 153, 0);
    color: black;
}

/* Converter CSS */
.converter {
    border: 2px solid gray;
    padding: 5%;
    margin: 5%;
    text-align: center;
}
p.uppercase {
    text-transform: uppercase;
}