.container {
    width: 60%;
}

table, th, td {
    border: 1px solid black;
    text-align: center
}

#sample_data {
    text-align: center;
}

.vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .vertical-align > div:first-child {
    background-color: lightblue;
  }
  .vertical-align > div:last-child {
    background-color: lightgreen;
  }
  .big-box {
    height: 10em;
  }
  .small-box {
    height: 3em;
  }